
.banner {
  display: flex;
  width: 110%;
  margin-left: -10px;
  margin-top: -20px;
  height: 700px;
  background-image: linear-gradient(to left, black 60%, rgb(59, 59, 59));
  overflow: visible;
}

.banner-img {
  height: 100%;
  width: auto;
  scale: 1;
}

.banner-inner-1 {
  display: inline;
  width: 60%;
  height: 100%;
}

.banner-inner-text {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: -35px;
  margin-bottom: 50px;

}

.banner-text {
  margin-top: 100px;
  text-align: center;
  font-size: 80px;
  color: white;

}

.nav-outer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.nav-content {
  color: rgb(202, 202, 202);
  font-size: 30px;
  transition: color 0.4s ease-in-out;
}

.nav-content:hover{
  cursor: pointer;
  color: white;
}

.about-us {
  display: flex;
  margin-top: 100px;
  height: 300vh;

}
.phone {
  position: sticky;
  height: 600px;
  width: auto;
  margin-top: 100px;
  top: 20%;
}

.phone.animate {
  animation: phone-combined ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
  animation-play-state: running;
}

.phone.pause {
  animation-play-state: paused;
}


.about-us.pause {
  height: 70vh;
}

.blank {
  height: 1000px;
  width: 100%;
}


/*animation section*/

/* combined animation */
@keyframes phone-combined {
  0% {
    transform: translateX(0px) scale(1);
  }
  50% {
    transform: translateX(100%) scale(1.5);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes message {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}